/* font-family: 'Fjalla One', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Abel', sans-serif; */

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav"
    "header header"
    "main main"
    "footer footer";
}
#header {
 
  align-items: center;
  margin: auto;
}

.logo img {
  width: 50%;
  margin-top: 10px auto;
  padding-left: 2.5em;
}
header{
    grid-area: header;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 95%;
}

/* --------nav bar-------- */
nav {
  grid-area: nav;
  display: flex;
  font-family: "Abel", sans-serif;
  
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin: auto;
  

}

.nav-link {
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

.ul-list {
  display: flex;
  justify-content: center;
  margin: auto;
}

.nav-link a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.4s;
  color: black;
}

.nav-link:hover a {
  color: red;
}

/* -------end nav bar---------- */

div.info {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  background: black;
  font-family: "Fjalla One", sans-serif;
}

div.group {
  margin: 0px;
  width: 20%;
  padding: 10px;
  margin: auto 20px auto 20px;
}

.desc-title {
  font-size: 20px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.desc {
  padding: 15px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: "Abel", sans-serif;
}

hr {
  width: 55%;
  border: solid 1px gold;
}

.snake img {
  width: 95%;
  margin: auto;
  align-content: center;
  display: flex;
  align-items: center;
}

.overwrite {
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.pricing {
  background: black;
  width: 95%;
  margin: auto;
}

.pricing-title {
  padding: 9px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 45px;
  font-family: "Abel", sans-serif;
  width: 50%;
  margin: auto;
}

/*---------main-------- */

main {
  grid-area: main;
  background: white;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "info info"
    "snake snake"
    "pricing pricing"
    "video video";
}

div.info {
  grid-area: info;
}

.snake {
  grid-area: snake;
}

.pricing {
  grid-area: pricing;
}
/* --------end main--------- */

footer {
  grid-area: footer;
  height: 100%;
  background: black;
  width: 95%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
input {
  font-family: UniversLTPro-55Roman;
  font-size: 14.4px;
  line-height: 36px;
  width: 225px;
  border: 1px solid #707070;
  padding: 1px 15px 1px 15px;
  margin: 10px;
}
label {
  color: white;
  padding: 10px;
  font-size: 20px;
}
.snake-vid {
  grid-area: video;
  margin: 20px auto;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-a {
  display: flex;
  margin-right: 20%;
}
#icon {
  margin: auto 10px auto 20px;
  font-size: 30px;
  color: gold;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
}
